// FOOTER
footer.footer.well.well-small.muted
    p Entorno de desarrollo Front-end.
    p Conjunto de herramientas para mejorar la accesibilidad y la productividad en la creación de aplicaciones web.
    p Basado en Yeoman, GruntJS, JADE, AngularJS y Twitter Bootstrap.
    br
    p
        strong Proyecto fin de grado
    p
        u Autor: Alejandro Arroyo Duque
    p Directora: Lourdes Moreno López
    p Universidad: Carlos III de Madrid