head
    meta(content="text/html;", http-equiv="content-type", charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Proyecto fin de carrera
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="styles/main.css")