include ../mixins/mixins
include ../includes/head
body
    include ../includes/header
    // CUERPO
section.container
    block pageHeader
    block colLayout
    include ../includes/footer
    include ../includes/scripts